div.basic-grey {
    text-align: center;
    width: 700px;
}
div.basic-grey > a {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
div.basic-grey .imagelink {
    width: 200px;
    height: 125px;
    background-image: url("../images/bg.jpg");
    background-size: 200px 200px;
    text-align: center;
    padding-top: 75px;
    font-size: 20px;
    color: black;
}
div.basic-grey img.imagelink {
    width: 200px;
    height: 200px;
    padding-top: 0px;
}
div.basic-grey > a:hover > .imagelink {
    background-image: url("../images/bg_hov.jpg");
    font-size: 22px;
}
div.basic-grey.admin {
    width: 800px;
}
div.basic-grey.admin > a {
    width: 180px;
    height: 180px;
}
div.basic-grey.admin .imagelink {
    width: 180px;
    height: 105px;
    background-size: 180px 180px;
}
div.basic-grey.admin img.imagelink {
    width: 180px;
    height: 180px;
}
#logo {
    width: 403px;
    height: 200px;
}
